backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "blog"
    label: "כתבות"
    folder: "content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "כותרת", name: "title", widget: "string" }
      - { label: "תאריך", name: "date", widget: "datetime" }
      - { label: "תמונה", name: "image", widget: "image", required: false } # כאן ביטלתי את החובה!
      - { label: "תוכן הכתבה", name: "body", widget: "markdown" }
